
.root {
    -fx-base: #444444;
    -fx-control-inner-background: #333333;
    -fx-background-color: #282c34;
    -fx-menu-bar-border: #4d4d4d;
    -fx-selection-bar: #4d4d4d;
    -fx-focus-color: #528bff;
}

.code-area {
    -fx-background-color: #282c34;
}

#codeArea .text {
    -fx-font-family: 'Consolas', 'monospace';
    -fx-font-size: 12pt;
    -fx-text-fill: #abb2bf;
}

.lineno {
    -fx-border-color: transparent transparent transparent #4d4d4d;
    -fx-background-color: #3b4149;
}

.menu-bar {
    -fx-background-color: #333333;
}

.menu {
    -fx-text-fill: #A9B7C6;
}

.menu-item {
    -fx-text-fill: #A9B7C6;
}

#codeArea .keyword {
    -fx-fill: #c678dd;
}

#codeArea .paren {
    -fx-fill: #abb2bf;
}

#codeArea .brace {
    -fx-fill: #abb2bf;
}

#codeArea .bracket {
    -fx-fill: #abb2bf;
}

#codeArea .semicolon {
    -fx-fill: #abb2bf;
}

#codeArea .string {
    -fx-fill: #98c379;
}

#codeArea .comment {
    -fx-fill: #5c6370;
}

#codeArea .literal {
    -fx-fill: #d19a66;
}

#codeArea .function {
    -fx-fill: #61afef;
}

#codeArea .number {
    -fx-fill: #d19a66;
}

#codeArea .annotation {
    -fx-fill: #e06c75;
}

#codeArea .variable {
    -fx-fill: #e5c07b;
}

#codeArea .period {
    -fx-fill: #999999;
}

#codeArea .import-period {
    -fx-fill: #e5c07b;
}

#codeArea .method-call-period {
    -fx-fill: #999999;
}
